<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Småland</title>
    <link rel="stylesheet" href="~/css/style.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<header id="logo">
			<h1>Småstad</h1>
			<p>Kommunen där vi bryr oss om varandra</p>
		</header>




		

        @RenderBody()



	<footer>
		&copy; Småstads Kommun All rights reserved.
	</footer>
	
	</div>
	</div>

</body>
</html>
