@model LoginModel
@{
	Layout = "_CitizenLayout";
}

	<section id="mainColumn">
		<h2>Inloggning för Småstads personal</h2>
		<p class="info">En säker tjänst från Småstads IT-avdelning</p>

		<form asp-controller="Home" asp-action="Login">
			<p>
				<input type="hidden" name="isSubmitted" value="true" />
			</p>
			<p>
				<label asp-for="UserName"></label>
				<input asp-for="UserName"/>
				<span asp-validation-for="UserName"></span><br />
			
			</p>
			<p>
			<label asp-for="Password"></label>
			<input asp-for="Password" />
			<span asp-validation-for="Password"></span><br />
			</p>

			<p >
			<input type="hidden" asp-for="ReturnUrl"/>
			</p>

			<p>
				<input class="button" type="submit" value="Logga in" />
				<br />
			
			</p>
		</form>
	</section>
