@model Employee

@{
    Layout = "_ManagerLayout";
}

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som avdelningschef</p>

@await Component.InvokeAsync("ErrandDetails",ViewBag.Id)


<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <form asp-controller="Manager" asp-action="SaveManager" method="post">
        <p>
            Ange handläggare:
            <select asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.ListOfEmployeeId,"EmployeeId", "EmployeName"))">
                
                <option selected disabled hidden value="">Välj</option>


            </select>
        </p>
        <p><input type="checkbox" name="noAction" value="true" /> Ingen åtgärd: <input type="text" name="reason" value="Ange motivering" /></p>
        <p><input class="button" type="submit" value="Spara" /></p>
    </form>
</section>